SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-api-key
CONTRACT_ADDRESS=0xyour-contract-address
PINATA_JWT=your-pinata-jwt
PINATA_GATEWAY=your-pinata-gateway.mypinata.cloud
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-supabase-service-role-key

# Court
# SEPOLIA_PRIVATE_KEY=your-sepolia-private-key

# Officer
SEPOLIA_PRIVATE_KEY=your-sepolia-private-key

# Forensic
# SEPOLIA_PRIVATE_KEY=your-sepolia-private-key

# Lawyer
# SEPOLIA_PRIVATE_KEY=your-sepolia-private-key

MASTER_PASSWORD=your_encryption_key
